<div class="col-lg-12 mb-5">
    <%= render 'shared/show_post', post: @post, user: @user, like: @like %>
    <%= render 'shared/full_comment', post: @post %>
    <%= render 'shared/comment_form', comment: @comment %>
</div>