
<%= form_with model: @comment, url: user_post_comments_path(current_user.id, @post) do |form| %>
  <div class="form-group">
    <%= form.text_field :text, class: "form-control form-control-lg col-lg-9", placeholder: "Add a comment..." %>
    <%= form.submit 'Add Comment', class: "mt-1 col-lg-3 btn btn-primary" %>
  </div>
<% end %>
