<div class="col-lg-12">
    <div class="card mt-1 mb-5">
        <div class="card-body">
            <h2 class="text-center">Create New Post</h2>
        </div>
    </div>

    <%= render 'shared/form', post: @post %>
    
</div>
